# GLPI
GLPI_URL=http://172.16.8.22/apirest.php
GLPI_USER_TOKEN=ton_user_token_ici
GLPI_APP_TOKEN=ton_app_token_ici

# LDAP / Active Directory
LDAP_HOST=lecreusot.priv
LDAP_PORT=389
LDAP_BASE_DN=dc=lecreusot,dc=priv
LDAP_BIND_USER=CN=svc-api,OU=Services,DC=lecreusot,DC=priv
LDAP_BIND_PASSWORD=mot_de_passe_service

# JWT
JWT_SECRET_KEY=change_moi_en_prod
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480
